.table{
  border: 1px solid gray;
  border-radius: 15px;
  
  thead{
    font-size: 20px;
    .item_num{
      width:5%;
    }
    .item_title{
      text-align: left;
    }
    .item_content{
      display: none;
    }
    .item_date{
      cursor: pointer;
      vertical-align: middle;
      width: 10%;
      min-width: 140px;
      .sort_icon{
        width: 20px;
        height: 20px;
        margin-left: 2px;
        path{
          fill: black;
        }
      }
    }
    @media screen and (min-width: 768px) {
      .item_title{
        width: 30%;
      }
      .item_content {
        width: 40%;
        display: table-cell;
        text-align: left;
      }
    }
  }

  tbody{
    th,td{
      vertical-align: middle;
    }
    .num {
      width: 5%;
    }
    .title{
      text-align: left;
    }
    .content {
      display: none;
    }
    .date {
      width: 10%;
      min-width: 120px;
    }
    @media screen and (min-width: 768px) {
      .title {
        width: 30%;
      }
      .content {
        width: 40%;
        max-width: 300px;
        text-align: left;
        display: table-cell;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .operate{
      display: flex;
      width: 150px;
      
      button{
        margin-left: 5px;
      }
    }

    
  }
}