.search_panel{
  border: 1px solid gray;
  border-bottom: 0;
  padding: 10px 20px;
  text-align: left;

  .search_input{
    width: 100%;
    margin: 5px;
  }
  .btn-group{
    margin: 5px;
    .btn{
      border: 1px solid gray;
    }
  }
  .create_btn{
    width: 100px;
    padding: 7px 5px;
    margin: 5px;
    .create_icon{
      margin-top: -3px;
    }
    span{
      display: none;
    }
  }
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: space-evenly;

    .search_input {
      width: 50%;
      height: 40px;
    }
    .btn-group {
      width: 400px; 
    }
    .create_btn {
      width: 160px;
      height: 40px;
      span {
        display: inline-block;
      }
    }
  }

}

.search_message{
  border: 1px solid gray;
  padding: 40px 0;
}
