.navbar{
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  padding: 0 20px;
  z-index: 900;

  .navbar-brand{
    display: flex;
    align-items: center;

    .navbar_avatar {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border: 1px solid gray;
      border-radius: 50px;
    }

    p{
      margin: 0;
    }
  }


  .logout_btn{
    display: flex;
    align-items: center;

    .logout_icon{
      width: 15px;
      height: 15px;
      margin-right: 5px;
      path{
        fill: white;
      }
    }
  }
  
}