.create_page {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 50px;
  padding: 10px;
}
.create_page h3 {
  text-align: left;
  margin: 10px 40px;
  font-weight: bolder;
}
.create_page .create_form {
  margin: 10px 40px;
}
.create_page .create_form input {
  margin: 25px 0;
}
.create_page .create_form .select_div {
  text-align: left;
}
.create_page .create_form .select_div .repo_select {
  padding: 7px;
  border-radius: 5px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .create_page .create_form .select_div .repo_select {
    width: calc(100% - 162px);
  }
}
.create_page .form_btn {
  text-align: right;
  padding: 10px 40px;
}
.create_page .form_btn .btn {
  margin: 0 15px;
}